# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log
*.sqlite3
*.egg-info/
.env
.env.*
.DS_Store

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
ENV/
env/
# Node
node_modules/
dist/
build/
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific
.DS_Store
Thumbs.db
# Git backup
*.orig

# VSCode
.vscode/

